<nav class="w-100 d-flex justify-content-between align-items-center p-4  bg-primary shadow-2xl">
    <div class="logo">
        <span class="text-light text-4xl d-flex justify-content-start align-items-center">BANQUE FLOUSSEK</span>
    </div>
    <div class="nav-items">
        <span routerLink="/login" role="button" class=" text-xl cursor-pointer text-light font-weight-bold m-3 hover-underline hover-text-secondary">Connexion</span>
        <span routerLink="/register" role="button" class="text-xl cursor-pointer text-light font-weight-bold m-3 hover-underline hover-text-secondary">Inscription</span>
        <!--<span class="text-xl cursor-pointer text-light font-weight-bold m-3 hover-underline hover-text-secondary">Bienvenue Utilisateur</span>-->
        <span routerLink="/login" role="button" class="text-xl cursor-pointer text-light font-weight-bold m-3 hover-underline hover-text-secondary">Déconnexion</span>
    </div>
</nav>
