<app-header></app-header>

<div class=" w-full mt-10 p-10  mx-auto max-w-xl" style="background-color: #fcfcfc;">
    <h3 class="text-3xl  font-semibold py-5">Mot de passe oublié</h3>

    <form [formGroup]="forgetForm" class="d-flex flex-column">
        <span class="mb-4">
            Entrez votre adresse e-mail et nous vous enverrons des instructions
            sur la façon de réinitialiser votre mot de passe.
        </span>
        <div class="d-flex flex-column mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
            <span *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty" class="text-red-500">*L'email est requis</span>
            <span *ngIf="forgetForm.hasError('email','email')" class="text-red-500">*L'email n'est pas valide</span>
        </div>
        <div class="mt-2">
            <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid"
                class="btn btn-primary w-25 mr-3 p-2 rounded-md text-white">Soumettre</button>
            <a routerLink="/login" class="btn btn-secondary w-25 p-2 rounded-md text-white">Annuler</a>
        </div>
    </form>
</div>
