<h5 class="titre soustitre" >My accounts</h5>
<div id="carouselExampleDark" class="carousel carousel-dark slide responsiveSmallscreen" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active d-flex"  data-bs-interval="10000" >
        <div class="card mx-auto p-2 cardstyle" >
            <div class="card-body col-md-9" >
                <h5 class="card-title philoshophfont" >Money</h5>
                <p class="card-text moneyfontsize"  ><strong> 6288,</strong>164 <sup class="suptext">TND</sup></p> 
                
                <a routerLink="/card" class="btn btn-primary">Go To Your Cart</a>
            </div>
        </div>
        
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="card mx-auto p-2 cardstyle" >
             <div class="card-body col-md-9" >
              <h5 class="card-title philoshophfont" >Hissab Tawfir</h5>
              <p class="card-text moneyfontsize" ><strong> 25,</strong>164 <sup class="suptext">TND</sup></p> 
              <a href="#" class="btn btn-primary">Go To Your Cart</a>
             </div>
         </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto p-2 cardstyle" >
             <div class="card-body col-md-9" >
              <h5 class="card-title philoshophfont" >Compte Etranger en Devise</h5>
              <p class="card-text moneyfontsize" ><strong> 3288,</strong>164 <sup class="suptext">TND</sup></p> 
              <a href="#" class="btn btn-primary">Go To Your Cart</a>
             </div>
         </div>
      </div>
    </div>
    <button class="carousel-control-prev" style="margin-right: 20px;" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>