
  

<div class="container-fluid" *ngIf="!VerifAdmin" >
  <div class="row">
    <div class=" col-md-3 order-md-2"  >
        <!-- Contenu de la div2 sur la droite pour les écrans de taille moyenne et plus -->
        <div class="card  responsiveSmallscreen"  >
            <img src="../assets/images/change.jpeg" class="card-img-top"  alt="...">
            <div class="card-body">
              <h5 class="card-title">Money converter</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Check converter</a>
            </div>
          </div>
    </div>
    
    <div class="col-md-9 order-md-1 Align" >
      <div class="col-md-12">
        
        <!-- Contenu de la div1 sur la gauche pour les écrans de taille moyenne et plus -->
        
        <app-carousel ></app-carousel>
      </div>
      
        <div class="col-md-12 margin80">
          <h5 class="titre soustitre" >My activities</h5>

          <div class="card mx-auto responsiveSmallscreen activitycard" >
            <div class="card-body "  >
              <div class="row border-bottom acitivtysoustitre">
                <div class="col-md-6 activityitems" style="font-weight: bold;">
                  Solde
                </div>
                <div class="col-md-2 activityitems">
                  Day
                </div>
                <div class="col-md-2 activityitems">
                 Month
                </div>
                <div class="col-md-2 activityitems">
                  Year
                </div>

              </div>
              <img src="../assets/images/final1.png" class="img-fluid imgSmallscreen" alt="">
            
            
            </div>
            
          </div>
        </div>

       
        
      

</div>
</div>

 
 
 
