

<div id="carouselExampleDark" class="carousel carousel-dark slide responsiveSmallscreen" >
   <div class="carousel-indicators">
     <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
     <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
     <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
   </div>
   <div class="carousel-inner">
     <div class="carousel-item active d-flex"   data-bs-interval="10000" >
       <div class="card mx-auto bodersm cardstyle m-1 border " style="width: 700px; background-color: #fcfcfc;" >
           <div class="card-body  col-md-12" >
               <div  style="display: flex; justify-content: center; align-items: center; ">

                  <div   style="flex: 2 ;">
                     <img src="../assets/images/goldcard3.png" class="img-fluid" alt="">
                  </div>
                  <div class="d" style="flex: 1;">
                     <img src="../assets/images/Mastercard-busines.png" class="img-fluid" alt="">
                  </div>
                  
               </div>
                    
            

           </div>
       </div>
       
     </div>
     <div class="carousel-item " data-bs-interval="2000">
      <div style="display: flex;">
         <div class="card mx-auto bodersm cardstyle " style="width: 700px;background-color: #fcfcfc;" >
            <div class="card-body col-md-12" >
               <div  style="display: flex; justify-content: center; align-items: center; ">

                  <div  style="flex: 2  ;">
                     <img src="../assets/images/Mastercard-busines.png" class="img-fluid" alt="">
                  </div>
                  <div   style="flex: 1; "class="d ">
                     <img src="../assets/images/goldcard3.png" class="img-fluid" alt="">
                  </div>
                  
               </div>
            </div>
      </div>
     

      </div>
         
     </div>
     
   <button class="carousel-control-prev" style="margin-right: 20px;" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>