


<div class="container-fluid" >
    <div class="row">
      
      <div class="col-md-9  Align" >
        <div class="col-md-12">
          <h5 class="titre soustitre "  >My card</h5>
          <!-- Contenu de la div1 sur la gauche pour les écrans de taille moyenne et plus -->
          
          <app-carousel-card></app-carousel-card>
        </div>
        
          
      </div>
      <div class=" col-md-3  " style="margin-top: 30px;" >
       
        <div class="card  responsiveSmallscreen"  >
          <img src="../assets/images/ourcard1.png" class="card-img-top"  alt="...">
            <div class="card-body" style="display: flex;flex-direction: column; align-items: center;">
              
              <div style="padding-top: 4px; margin-bottom: 20px;  color: white;background-color: rgb(60, 95, 147); border-radius: 60px; border: none; width: 100%; text-align: center;"><h5 class="card-title">Max Card</h5></div>
             
              <div  id="contenue" >
                Max payement <strong>6000,<span>000</span></strong><sup class='suptext'>TND</sup>
              </div>
              <div  id="contenue" >
                Max withdrawal <strong>3000,<span>000</span></strong><sup class='suptext'>TND</sup>
              </div>
              
             
            </div>
          </div>
    </div>
    <div class=" margin80   "  >
      <app-virement></app-virement>
    </div> 
  </div>
  </div>
  

        

