<div class="card mb-3" style="max-width: 700px; margin: 50px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../assets/images/boh.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Houssem BEN YOUSSEF</h5>
          <p class="card-text">Collaborating on this website project was truly a great experience. Working with such a dedicated team, including Malek, was not only productive but also a lot of fun. We learned a tremendous amount together, and I appreciate the valuable contributions from each team member.</p>
          <p class="card-text"><small class="text-body-secondary">2nd year of the engineering computer sience  </small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 700px; margin: 50px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../assets/images/youssef.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Youssef SAIDI</h5>
          <p class="card-text">I completely agree with Houssem. The synergy we had while working on the website was fantastic. It's been a pleasure collaborating with everyone, and I'm grateful for the learning opportunities this project brought. Looking forward to more successful ventures together!</p>
          <p class="card-text"><small class="text-body-secondary">2nd year of the engineering computer sience  </small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 700px; margin: 50px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../assets/images/malek11.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Malek MTIR</h5>
          <p class="card-text">As a team, collaborating with Youssef and Houssem on our website project was an incredibly rewarding experience. The exchange of ideas and skills made the process enjoyable and educational.</p>
          <p class="card-text"><small class="text-body-secondary">2nd year of the engineering computer sience  </small></p>
        </div>
      </div>
    </div>
  </div>