<div style="margin-top: 140px; margin-left: 60px;">
  <div >
      <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    
  </div>
  
  <div class="row " >
      <div class=" col-sm-2 p-2 fw-bold respnsiveXSmallScreen " style="color: #A4A7AE;" >
        id
      </div>
      <div class=" col-sm-3 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
        Name
      </div>
      <div class=" col-sm-3 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
        CIN
      </div>
      <div class=" col-sm-3 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
        Amount
      </div>
      <div class="col-sm-12 border-bottom ">
  
      </div>
    </div>
    <div>
      
 <!-- <ng-container *ngFor="let t of courses ;index as i">
      courseCountRadioButton === 'All' || courseCountRadioButton === course.type
      <div class="course-container" *ngIf="searchText === '' || t.First.toLowerCase().includes(searchText) ">
          <div class="course-card row">
              <div class=" col-sm-2 p-2 respnsiveXSmallScreen" >
                  {{i}}
                 </div>
                 <div class=" col-sm-3 p-2 respnsiveXSmallScreen">
                   {{t.First}}
                 </div>
                 <div class=" col-sm-3 p-2 respnsiveXSmallScreen">
                   {{t.Last}}
                 </div>
                 <div class=" col-sm-3 p-2 respnsiveXSmallScreen">
                   {{t.handle}}
                 </div>
                 <div class="col-sm-12 border-bottom ">
                  </div>
              </div>  
          </div>
      
      </ng-container>-->
  </div>
</div>
