<h5 class="titre soustitre" >My transfer</h5>
<div class="container-fluid"  >
  <div class="row " >
    <div class=" col-sm-1 p-2 fw-bold respnsiveXSmallScreen " style="color: #A4A7AE;" >
      index
    </div>
    <div class=" col-sm-2 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
       Operation Date
    </div>
    <div class=" col-sm-3 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
      Card Number resiver
    </div>
    <div class=" col-sm-2 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
      Amount
    </div>
    <div class=" col-sm-1 p-2 fw-bold respnsiveXSmallScreen" style="color: #A4A7AE;" >
      State
    </div>
    <div class="col-sm-12 border-bottom ">

    </div>
  </div>
  <div>
    <div class="row " *ngFor="let t of dataArray ;index as i" >
      <div class=" col-sm-1 p-2 respnsiveXSmallScreen" >
       {{i}}
      </div>
      <div class=" col-sm-2 p-2 respnsiveXSmallScreen">
        {{t.date}}
      </div>
      <div class=" col-sm-3 p-2 respnsiveXSmallScreen">
        {{t.carta}}
      </div>
      <div class=" col-sm-2 p-2 respnsiveXSmallScreen">
        {{t.montant}}
      </div>
      <div class=" col-sm-1 p-2 respnsiveXSmallScreen">
        {{t.etat}}
      </div>
      <div class="col-sm-12 border-bottom ">
  
      </div>
    </div>
  </div>
    
    
 
</div>